In [2]:
import pandas as pd
df=pd.read_csv("C:\\Users\\dell\\Downloads\\Dataset_Sharanya.csv")

In [3]:
df

,review,Used it for,Owned for,Ridden for,rating,Visual Appeal,Reliability,Performance,Service Experience,Extra Features,Comfort,Maintenance cost,Value for Money,Model Name
0,We all checked the bike's capacity to be 150 k...,Daily Commute,Never owned,NaN,1.0,3.0,4.0,NaN,NaN,NaN,4.0,NaN,1.0,TVS iQube
1,Performance is very poor on this bike. The cha...,Everything,> 1 yr,< 5000 kms,1.0,3.0,1.0,NaN,1.0,NaN,3.0,NaN,3.0,TVS iQube
2,I purchased this in April 2022 and the sales s...,Daily Commute,< 3 months,< 5000 kms,3.0,4.0,4.0,NaN,2.0,NaN,5.0,NaN,2.0,TVS iQube
3,If any issues come in scooty parts not availab...,Daily Commute,6 months-1 yr,5000-10000 kms,1.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN,1.0,TVS iQube
4,Don't buy this vehicle unless you have a near ...,Daily Commute,6 months-1 yr,< 5000 kms,1.0,3.0,4.0,NaN,1.0,NaN,3.0,NaN,2.0,TVS iQube
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.dtypes

review                 object
Used it for            object
Owned for              object
Ridden for             object
rating                float64
Visual Appeal         float64
Reliability           float64
Performance           float64
Service Experience    float64
Extra Features        float64
Comfort               float64
Maintenance cost      float64
Value for Money       float64
Model Name             object
dtype: object

In [21]:
df = df.astype({"Ridden for": str})

In [22]:
df1

,review,Used it for,Owned for,Ridden for,rating,Visual Appeal,Reliability,Performance,Service Experience,Extra Features,Comfort,Maintenance cost,Value for Money,Model Name
0,We all checked the bike's capacity to be 150 k...,Daily Commute,Never owned,nan,1.0,3.0,4.0,NaN,NaN,NaN,4.0,NaN,1.0,TVS iQube
1,Performance is very poor on this bike. The cha...,Everything,> 1 yr,< 5000 kms,1.0,3.0,1.0,NaN,1.0,NaN,3.0,NaN,3.0,TVS iQube
2,I purchased this in April 2022 and the sales s...,Daily Commute,< 3 months,< 5000 kms,3.0,4.0,4.0,NaN,2.0,NaN,5.0,NaN,2.0,TVS iQube
3,If any issues come in scooty parts not availab...,Daily Commute,6 months-1 yr,5000-10000 kms,1.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN,1.0,TVS iQube
4,Don't buy this vehicle unless you have a near ...,Daily Commute,6 months-1 yr,< 5000 kms,1.0,3.0,4.0,NaN,1.0,NaN,3.0,NaN,2.0,TVS iQube
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839,NaN,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
840,NaN,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
841,NaN,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
842,NaN,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
843,NaN,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
from numpy import NaN
for i in range(844):
  if df['Ridden for'][i]=='> 15000 kms':
    df['Ridden for'][i]=NaN

In [24]:
df1 = df.dropna(subset=['Ridden for'])

In [25]:
df2=df1 10000-15000 kms

SyntaxError: invalid syntax (1101533657.py, line 1)

In [26]:
for i in range(844):
  try:
    #print(df1['Visual Appeal'][i])
    if df1['Ridden for'][i]=='10000-15000 kms':
      df1['Ridden for'][i]=12500
  except:
    b=5

C:\Users\dell\AppData\Local\Temp\ipykernel_3256\259639433.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Ridden for'][i]=12500

In [27]:
a=[1,2,3,4,5]
cou=1
for i in range(844):
  try:
    #print(df1['Visual Appeal'][i])
    if df1['Visual Appeal'][i] not in a:
      df1['Visual Appeal'][i]=df1['rating'][i]
      
  except:
    b=5

C:\Users\dell\AppData\Local\Temp\ipykernel_3256\3792205582.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Visual Appeal'][i]=df1['rating'][i]

In [28]:
a=[1,2,3,4,5]
cou=1
for i in range(844):
  try:
    #print(df1['Visual Appeal'][i])
    if df1['Service Experience'][i] not in a:
      df1['Service Experience'][i]=df1['rating'][i]
      
  except:
    b=5

C:\Users\dell\AppData\Local\Temp\ipykernel_3256\805158327.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Service Experience'][i]=df1['rating'][i]

In [29]:
a=[1,2,3,4,5]
cou=1
for i in range(844):
  try:
    #print(df1['Visual Appeal'][i])
    if df1['Comfort'][i] not in a:
      df1['Comfort'][i]=(df1['Visual Appeal'][i]+df1['Reliability'][i]+df1['Performance'][i]+df1['Service Experience'][i])//4
      
  except:
    b=5

C:\Users\dell\AppData\Local\Temp\ipykernel_3256\850239267.py:7: RuntimeWarning: invalid value encountered in double_scalars
  df1['Comfort'][i]=(df1['Visual Appeal'][i]+df1['Reliability'][i]+df1['Performance'][i]+df1['Service Experience'][i])//4
C:\Users\dell\AppData\Local\Temp\ipykernel_3256\850239267.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Comfort'][i]=(df1['Visual Appeal'][i]+df1['Reliability'][i]+df1['Performance'][i]+df1['Service Experience'][i])//4

In [30]:
print(df1.isnull().sum())

review                471
Used it for           445
Owned for             445
Ridden for              0
rating                445
Visual Appeal         445
Reliability           494
Performance           690
Service Experience    445
Extra Features        813
Comfort               482
Maintenance cost      815
Value for Money       636
Model Name            445
dtype: int64

In [31]:
df3=df1[['Used it for','Ridden for','rating','Visual Appeal','Reliability','Performance','Service Experience','Comfort','Model Name']]

In [32]:
df3.to_csv('BikeWala_preprocessed01.csv')